@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55?styles=16022,15985,30130');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Helvetica Neue', sans-serif;
    --text-color: #333333;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul {
    list-style: none;
}
