* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: 'Helvetica Neue', sans-serif;
    --footer-height: 296px;
    --white-color: #ffffff;
    --primary-color: #ff7507;
    --text-color: #333333;
}

html {
    font-size: 62.5%;
    margin: auto;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul,
ol {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}
