.header {
    height: var(--header-height);
    position: relative;
    margin: auto;
}

.content-right {
    width: var(--content-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--white-color);

    p {
        padding-top: 4px;
    }

    .button {
        color: var(--white-color);
        font-weight: 400;
    }
}

.header-top {
    height: 30px;
    background-color: #ff4c07;
}

.header-content {
    height: calc(172px - 30px);
    background-color: var(--primary-color);
}
